*{
    margin: 0;
    padding: 0;
}
.contener{
    display: flex;
    align-items: center;
    padding: 50px;
}
p{
    padding-right: 50px;
    color: #555;
    line-height: 1.6rem;
}
.ghost{
    border-radius: 50px;
    height: 300px;
}
h2{
    color: orange;
    font-style: italic;
    padding-bottom: 10px;
    font-size: 25px;
}
.btn{
    background-color: orange;
    color: whitesmoke;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    position: absolute;
    top: 53%;
}
.btn:hover{
    background-color: orangered;
}